// light-theme
$light-bg: hsl(90, 50%, 98%);
$light-primary: hsl(111, 57%, 71%);
$light-secondary: hsl(163, 60%, 71%);
$light-text: hsl(98, 58%, 7%);
$light-accent: hsl(182, 60%, 62%);

// dark theme
$dark-bg: hsl(96, 45%, 2%);
$dark-primary: hsl(111, 57%, 29%);
$dark-secondary: hsl(163, 59%, 29%);
$dark-text: hsl(100, 60%, 93%);
$dark-accent: hsl(182, 60%, 38%);

